<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNGDemoSuite">
    <!-- Інформація про тестовий набір -->

    <test name="DependencyTests">
        <!-- Налаштування тестів з залежностями -->
        <classes>
            <class name="org.khnure.Ex3DependencyTest"/>
        </classes>
    </test>

    <test name="ParameterizedTests">
        <!-- Налаштування параметризованих тестів -->
        <classes>
            <class name="org.khnure.Ex2ParameterizedTest"/>
        </classes>
    </test>

    <test name="GroupTests">
        <!-- Налаштування групових тестів -->
        <groups>
            <run>
                <include name="functionality"/>
                <include name="performance"/>
            </run>
        </groups>
        <classes>
            <class name="org.khnure.Ex4GroupTest"/>
        </classes>
    </test>
</suite>