# See https://help.github.com/ignore-files/ for more about ignoring files.

# testing
**/report*.html
**/report*.json

**/dist
**/reports

# misc
.DS_Store
.dockerignore
node_modules

.vscode/settings.json
cscope.*
.idea/
*.iml

*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*.code-workspace
**/env/*.local

*.terraform*